[Unit]
Description=RSS reader server
After=network.target

[Service]
Environment=NODE_PORT=3000
Type=simple
User=root
ExecStart=/usr/bin/node /usr/local/bin/reader-server/app.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
